*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Farmhouse'; 
    src: url('../fonts/Farmhouse.otf') format('opentype')
  }



.logo{
padding: 1% 1% 1% 2%;
z-index: 1;
width: 175px;
position: relative;

padding: 15px;
right: 0;
}

header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/*body{
background-image: url("/public/images/ove\ Surf\ \(3\).png");
background-size: cover;
background-repeat: no-repeat;
}*/

html, body{
    width: 100%;
}
.background{

    width: 100%;
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7vw;
    gap: 7vh;
    margin-left: 2vw;
}

p{
    font-family: 'Farmhouse';
    color:white;
    font-size: 4.3vw;
    transition: 0.5s;
}

/* a :hover{
        font-size: 36px;
        color: #fff;
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;

} */

.block {
    cursor: url("../images/CursorShakaNet.png"),  url("../images/shakaOrange.png"), auto;
}


body {
    cursor: none; /* masquer le curseur par défaut    
    /* cursor: url("/public/images/CursorShakaNet.png"),  */
}

#custom-cursor {
    position: fixed;
    width: 28px; /* ajustez la taille de l'image selon vos besoins */
    height: 28px; /* ajustez la taille de l'image selon vos besoins */
    background-image: url('../images/CursorShakaNet.png');
    background-size: cover;
    z-index: 9999;
    pointer-events: none;
}

a {
    cursor: pointer; /* définir le curseur par défaut pour les liens */
}


a {
    display: inline-block;
    position: relative;
  }
  
a {
    display: inline-block;
    transition: all 0.3s;
  }
  
a:hover {
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 238, 36, 0.5);
  
  }
