* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Farmhouse';
    src: url('../fonts/Farmhouse.otf') format('opentype')
}



.logo {
    padding: 1% 1% 1% 2%;
    z-index: 1;
    width: 175px;
    position: relative;

    padding: 15px;
    right: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/*body{
background-image: url("/public/images/ove\ Surf\ \(3\).png");
background-size: cover;
background-repeat: no-repeat;
}*/

body {
    width: 100vw;
    height: 100VH;
    overflow: hidden;

}

.background {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;

    left: 50%;
    transform: translateX(-50%);
    /*met limage au centre de lecrant */

    z-index: -1;
    min-width: 100vw;
}


/* a :hover{
        font-size: 36px;
        color: #fff;
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;

} */

.block {
    cursor: url("../images/CursorShakaNet.png"), url("../images/shakaOrange.png"), auto;
}


body {
    cursor: none;
    /* masquer le curseur par défaut    
    /* cursor: url("/public/images/CursorShakaNet.png"),  */
}

#custom-cursor {
    position: fixed;
    width: 28px;
    /* ajustez la taille de l'image selon vos besoins */
    height: 28px;
    /* ajustez la taille de l'image selon vos besoins */
    background-image: url('../images/CursorShakaNet.png');
    background-size: cover;
    z-index: 9999;
    pointer-events: none;
}

.panneau {
    position: absolute;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Farmhouse';
    color: white;
    font-size: 4.3vw;
}

.question {
    top: 25.6vh;
}

.oui {
    top: 42.3vh;
}

.non {
    top: 59.2VH;
}

a {
    display: block;
    cursor: pointer;
}

@keyframes wiggle {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

a:visited {
    color: unset;
}

a:hover {
    color: blueviolet;
    animation-name: wiggle;
    animation-duration: 30ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sloggle {
    from {
        transform: rotate(720deg);
    }

    to {
        transform: rotate(-720deg);
    }
}

.non>a:hover {
    animation-duration: 5000ms;
    animation-name: sloggle;
}