* {
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr 350px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100%;
}

section {
    display: grid;
    background-color: #7BDDF4;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 600px;
    grid-template-areas: 
        "fondblue"
        "vaguebi";
}

.fondblue {
    grid-area: fondblue;
    background-color: #7BDDF4;
}

.vaguebi {
    display: flex;
    flex-direction: column-reverse;
    grid-area: vaguebi;
    background-color: #7BDDF4;
}
.vaguebi img{
    width: 100%;
}

div .bibi {
    background: linear-gradient(to right, #f1a159, #ffd2a8);
    border-radius: 10px;
    width: 25%;
    height: 400px;
    margin-left: 2%;
}