* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: linear-gradient(to right, #F1A159, #FFD2A8);
}

section {
    display: grid;
    grid-template-columns: 50% 15% 35%;
    grid-template-rows: 1fr;
    height: 100%;
    grid-template-areas: 
    "gauche vaguedroite droite"
}
.gauche {
    grid-area: gauche ;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "titre titre"
    "flèche texte"
    "flèche rond";
    width: 100%;
}
.vaguedroite{
    grid-area: vaguedroite;
    
}
.droite {
    background-color: #D8CEC4;
    grid-area: droite;
}
.texte {
    grid-area: texte;
    margin: 5%;
}
.rond img{
    width: 20%;
}
/*
.achat h4 {
    color: white;
    position: absolute;
   
    transform: translate(-50%, -50%);
    z-index: 1;
}

.achat {
    position: relative;
}
*/
.titre {
    grid-area: titre;
    transform: rotate(-5deg);
    font-size: 30px; 
    
}
.flèche {
    grid-area: flèche;
    
}
.flèche img{
    width: 100%;
}
.sous-titre {
    list-style-type: none;
}
.liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40%;
}
.vague img{
    width: 100%;
}