*{
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}
main{
    height: fit-content;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr 350px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-color: #F8F7E4;
    width: 100%;
    height: fit-content;
}
section{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.head{
    grid-area: head;
}
.head h1{
    font-size: 4rem;
    text-align: center;
    padding: 2% 0% 10% 0%;
}
.intro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mitchstory mitchstory patateimage"
    "ekip ekip ekip";
    height: 600px;
    
}
.mitchstory{
    grid-area: mitchstory;
}
.mitchstory p{
    padding: 3% 20% 2% 2%;
}
.mitchstory h2{
    padding-left: 2%;
}
.patateimage{
    grid-area: patateimage;
}
.ekip{
    grid-area: ekip;
    text-align: right;
    padding: 2% 0% 0% 0%;
}
.ekip h2{
    padding-right: 2%;
}
.ekip p{
    padding: 3% 2% 3% 35%;
}
.Lechefdeprojet{
    display: flex;
    height: 700px;
}
.descrp1{
    background-color: #97CEE8;
    width: 33%;
    text-align: center;
}
.vague img{
    height: 100%;
    
}
.Lechefdeprojet .gensilu{
    height: 33%;
    padding: 10% 0% 0% 0%;
}
.comp{
    width: 44%;
    text-align: center;
    padding: 5% 8%;
}
.descrp1 h1{
    padding: 20% 0% 40% 0%;
    font-size: calc(2rem + 2vw);
    transform : rotate(350deg)
}
.descrp1 p{
    padding: 0% 8%;
}
.Lescommunitymanager{
    display: flex;
    height: 700px;
}
.descrp2{
    background-color: #FAB4D9;
    width: 48.7%;
    text-align: center;
}
#Lilirose{
    height: 33%;
    padding: 40% 15% 0% 0%;
}
#Lisa{
    height: 33%;
    padding: 20% 0% 0% 15%;
}
.descrp2 h1{
    padding: 20% 0% 40% 0%;
    font-size: calc(2rem + 2vw);
    transform : rotate(350deg)
}
.descrp2 p{
    padding: 0% 8%;
}
.Lesdévloppeurs{
    display: flex;
    height: 700px;
}
.descrp3{
    background-color: #FFE991;
    width: 26%;
    text-align: center;
}
#Guilherme{
    height: 30%;
    padding: 5% 15% 0% 0%;
}
 #Seyma{
    height: 30%;
    padding: 5% 0% 0% 25%;
}
#Nathan{
    height: 30%;
    padding: 5% 15% 0% 0%;
}
.descrp3 h1{
    padding: 20% 0% 40% 0%;
    font-size: calc(2rem + 2vw);
    transform : rotate(350deg)
}
.descrp3 p{
    padding: 0% 8%;
}
.Nossuperbesbrasseurs{
    display: flex;
    height: 700px;
}
.descrp4{
    background-color: #8CC67C;
    width: 48.5%;
    text-align: center;
}
#Dimitri{
    height: 30%;
    padding: 5% 15% 0% 0%;
}
 #Noélie{
    height: 30%;
    padding: 5% 0% 0% 25%;
}
#Pierre{
    height: 30%;
    padding: 5% 15% 0% 0%;
}
.descrp4 h1{
    padding: 20% 0% 40% 0%;
    font-size: calc(2rem + 2vw);
    transform : rotate(350deg)
}
.descrp4 p{
    padding: 0% 8%;
}

.line{
    content: "";
    background-color: yellow;
    height: 1vw;
    width: 100%;
}
