/**** NAVBAR ****/
li {
    list-style: none;
}

header img {
    padding: 1% 1% 1% 2%;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
nav a{
    color: black;
}
nav a:hover {
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0% 1% 2%;
    font-size: calc(1rem + 1.5vw);
    width: 5%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#icons {
    cursor: pointer;
    display: none;
    
}
div#icons {
    z-index: 1;
}
#icons {
    display: block;
}

#icons:before {
    content: "\2630";
}

.active #icons:before {
    content: "\2715";
}

nav ul {
    position: fixed;
    right: -100%;
    top: 0%;
    flex-direction: column;
    background: #8FDBFF;
    width: 50%;
    text-align: center;
    transition: 0.25s;
    height: 100%;
}

nav li {
    padding: 5% 0% 0% 8%;
}

nav li:hover {
    background: rgb(157, 217, 240);
}

nav.active ul {
    right: 0;
}

/**** FOOTER ****/

footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 400px;
    grid-template-areas:
    "wave wave wave"
    "Infos Liens Contact"
}
.wave{
    grid-area: wave;
}
.Infos{
    grid-area: Infos;
}
.Liens{
    grid-area: Liens;
}
.Contact{
    grid-area:Contact;
}
footer div{
    padding: 0% 4%;
}
footer li{
    padding: 2% 0%;
}
footer li a{
    color: #ffffff;
}
footer img{
    width: 6%;
}