* {
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr 350px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-color: #FFF2CB;
    width: 100%;
    height: 6000px;
    
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px 2000px 1700px 500px 450px 500px 0px;
    grid-template-areas:
        "cbeige"
        "vgris"
        "vrose"
        "vbleu"
        "vorange"
        "vjaune"
        "vbeige";
    width: 100%;
    height: 100%;
}

.vgris {
    grid-area: vgris;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.vrose{
    background-color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}
.vrose h1{
    color: #77bdbf;
    font-size: calc(2rem + 2vw);
}
.houbl {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    position: relative; /* Ajouté pour le positionnement absolu */
    width: 100%;
}
.houbl img {
    height: 90%;
}
.hallertau img {
    padding-left: 10%;
}
.saaz{
    position: relative; /* Ajouté pour le positionnement absolu */
}
.txtsaaz {
    position: absolute;
    top: 0;
    left: 1%;
    padding: 10px;
    width: 100%; /* Ajuste la largeur au conteneur parent */
    height: 100%; /* Ajuste la hauteur au conteneur parent */
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
}
.hallertau{
    position: relative; /* Ajouté pour le positionnement absolu */
}
.txthallertau{
    position: absolute;
    top: 0;
    left: 10%;
    padding: 10px;
    width: 100%; /* Ajuste la largeur au conteneur parent */
    height: 100%; /* Ajuste la hauteur au conteneur parent */
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
}
.brawersgold{
    position: relative; /* Ajouté pour le positionnement absolu */
}
.txtbrawersgold{
    position: absolute;
    top: 0;
    left: 1%;
    padding: 10px;
    width: 100%; /* Ajuste la largeur au conteneur parent */
    height: 100%; /* Ajuste la hauteur au conteneur parent */
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
}
.malt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative; /* Ajouté pour le positionnement absolu */
    width: 100%;
}
.paleale{
    position: relative; /* Ajouté pour le positionnement absolu */
}
.txtpaleale{
    position: absolute;
    top: 0;
    padding: 8.5% 1% 0% 48%;
    width: 100%; /* Ajuste la largeur au conteneur parent */
    height: 100%; /* Ajuste la hauteur au conteneur parent */
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
}
.paleale img{
    width: 60%;
    padding-left: 45%;
}
.avoine{
    position: relative; /* Ajouté pour le positionnement absolu */
}
.txtavoine{
    position: absolute;
    top: 0;
    left: 1%;
    padding: 40% 36% 0% 14%;
    width: 100%; /* Ajuste la largeur au conteneur parent */
    height: 100%; /* Ajuste la hauteur au conteneur parent */
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
}
.avoine img{
    width: 60%;
    padding-left: 10%;
    padding-top: 20%;
}
.carahell{
    position: relative; /* Ajouté pour le positionnement absolu */
}
.txtcarahell{
    position: absolute;
    top: 0;
    left: 1%;
    padding: 32% 14% 0% 40%;
    width: 100%; /* Ajuste la largeur au conteneur parent */
    height: 100%; /* Ajuste la hauteur au conteneur parent */
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
    
}
.carahell img{
    width: 60%;
    padding-left: 35%;
    padding-top: 20%;
}
.pilsen{
    position: relative; /* Ajouté pour le positionnement absolu */
}
.txtpilsen{
    position: absolute;
    top: 0;
    left: 11%;
    padding: 30px 10px;
    width: 100%; /* Ajuste la largeur au conteneur parent */
    height: 100%; /* Ajuste la hauteur au conteneur parent */
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
}
.pilsen img{
    width: 125%;
}
.vbleu {
    grid-area: vbleu;
    width: 100%;
    background-color: #F191C2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}
.vbleu h1{
    color: #ffffff;
    font-size: calc(2rem + 2vw);
}

.Brassage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 12em);
    width: 100%;
    grid-template-areas:
    "Concassage Concassage Concilu"
    "Empailu Empatage Empatage"
    "Filtra Filtra Filtrailu"
    "Ebulliilu Ebulli Ebulli"
    "Clarifica Clarifica Clarificailu"
    "Refroidilu Refroidissement Refroidissement";
}
.Concassage{
    grid-area: Concassage;
    padding: 0% 8% 0% 10%;
}
.Concilu{
    grid-area: Concilu;
}
.Empatage{
    grid-area: Empatage;
    padding: 10% 8% 0% 25%;
}
.Empailu{
    grid-area: Empailu;
}
.Filtra{
    grid-area: Filtra;
    padding: 9% 30% 0% 10%;
}
.Filtrailu{
    grid-area: Filtrailu;
}
.Ebulli{
    grid-area: Ebulli;
    padding: 16% 8% 0% 25%;
}
.Ebulliilu{
    grid-area: Ebulliilu;
}
.Clarifica{
    grid-area: Clarifica;
    padding: 20% 30% 0% 10%;
}
.Clarificailu{
    grid-area: Clarificailu;
}
.Refroidissement{
    grid-area: Refroidissement;
    padding: 18% 8% 0% 25%;
}
.Refroidilu{
    grid-area: Refroidilu;
}
.Brassage p {
    font-size: calc(0.3rem + 1vw);
    color: #ffffff;
}
.Brassage h2 {
    color: #ffffff;
    font-size: calc(1.5rem + 2vw);
}

.cbeige{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cbeige p{
    padding: 3% 21%;
    font-size: calc(0.3rem + 1.1vw);
}
.vbeige{
    display: flex;
    flex-direction: column-reverse;
    background-color: #FBCC54;
    align-items: center;
    justify-content: space-between;
}
.vbeige h1{
    color: #ffffff;
    font-size: calc(2rem + 2vw);
}
.vbeige p{
    padding: 0% 21% 18.5% 21%;
    font-size: calc(0.3rem + 1.1vw);
    color: #ffffff;
    text-align: center;
}
.vorange{
    display: flex;
    flex-direction: column-reverse;
    background-color: #3DD8FC;
    align-items: center;
    justify-content: space-between;
}
.vorange h1{
    color: #ffffff;
    font-size: calc(2rem + 2vw);
}
.vorange p{
    padding: 0% 21%;
    font-size: calc(0.3rem + 1.1vw);
    color: #ffffff;
    text-align: center;
}
.vjaune{
    display: flex;
    flex-direction: column-reverse;
    background-color: #EBA657;
    align-items: center;
    justify-content: space-between;
}
.vjaune h1{
    color: #ffffff;
    font-size: calc(2rem + 2vw);
}
.vjaune p{
    padding: 0% 21%;
    font-size: calc(0.3rem + 1.1vw);
    color: #ffffff;
    text-align: center;
}
.cbeige h1{
    font-size: 4rem;
    position: absolute;
    padding-bottom: 18%;
    left: 27%;
    z-index: -1;
}
section div .v{
    width: 100%;
}
div .wave{
    background-color: #FBCC54;
}